* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}
/* main */
main {
    display: flex;
    color: #808387;
}
/* header */
main header {
    width: 15%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    background-color: black;
}

main header .header-container {
    padding: 1em;
}
/* logo e lista home */

main header .header-container .logo img {
    max-width: 200px;
    max-height: 50px;
    margin-bottom: 1em;
    
}

main header .header-container .home-list {
    list-style-type: none;
    margin-bottom: 1em;
}

main header .header-container .home-list li {
    padding: 0.3em;
}

main header .header-container .home-list li img {
    width: 7%;
}

/* /logo e lista home  */

/* playlist section */

main header .header-container .playlist .playlist-list {
    list-style-type: none;
}

main header .header-container .playlist .playlist-list #first-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

main header .header-container .playlist .playlist-list #plus {
    height: 1.5em;
    width: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5em;
    color: black;
    background-color: #a3a3a3;
}

main header .header-container .playlist .playlist-list i{
    font-size: 1.5em;
}

main header .header-container .playlist .playlist-list li {
    padding: 0.6em 0;
}

/* /playlist section */

/* footer header */

main .footer-header {
    padding: 1em;
}

main .footer-header .foot-text {
    padding: 0.5em 0;
    display: flex;
    gap: 10px;
}

main .footer-header img {
    width: 7%;
    display: block;
}

main .footer-header .name {
    padding: 0.5em 0;
    display: flex;
    gap: 10px;
    align-items: center;
}

main .footer-header .name #profile {
    border-radius: 50px;
    width: 8%;
    background-color: #808080;
}

/* /footer header */

/* main-centered */

main .main-centered {
    width: calc(100vw - 15%);
    height: calc(100vh - 100px);
    
    overflow: scroll;
    background-color: #141922;

    border: 1px solid green;
}

/* upgrade-bar */

main .main-centered .upgrade-bar {
    height: 80px;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    background-color: rgba( 8, 11, 18, 0.5);

}

main .main-centered .upgrade-bar button {
    background-color: transparent;
    border-radius: 20px;
    padding: 0.5em 1.5em;
    color: white;
    border: 1px solid white;
    
}

/* /upgrade bar */

/* MENU-LIST */

main .main-centered .menu-list {
    padding: 1em;
    font-size: 0.8em;
}

main .main-centered .menu-list ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    color: ;

    list-style-type: none;
}


footer {
    height: 100px;

    border: 1px solid red;
    /* test */
}