* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}
/* main */
main {
    display: flex;
    color: rgba(255, 255, 255, 0.5);
    height: calc(100vh - 100px);
}

/*  hover */
.play-img:hover {
    opacity: 0.5;
    cursor: pointer;
}

.play-img:hover i {
    display: inline-block;
}

.text-white:hover {
     /* transform: scale(110%); */
     color: white;
     cursor: pointer;
}

.text-white-line:hover {
    color: white;
    cursor: pointer;
    border-bottom: 1px solid white;
}

main button:hover {
    transform: scale(110%);
     cursor: pointer;
}

.transform:hover {
    transform: scale(120%);
    cursor: pointer;
}


.vol-bar:hover .point {
    display: block;
}

.transform:hover .timeline-point {
    display: block;
}

.track-bar:hover > .green {
    background-color: #c6f46b;
}

.volum .vol-bar:hover > .green-line {
    background-color: #c6f46b;
}

/* /hover */

/* common */
.point {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    
    margin: -2px 29px;
    
    display: none;
    
    background-color: white;

}

.timeline-point {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;

    margin: -3px 73px;

    display: none;
    
    background-color: white;

}

.play-img i {
    position: absolute;

    left: 55px;
    top: 55px;

    display: none;

    color: white;

    font-size: 2em;
}

/* /common */

/* header */
main header {
    width: 200px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    background-color: black;
}

main header .header-container {
    padding: 1em;
}
/* logo e lista home */

main header .header-container .logo img {
    max-width: 200px;
    max-height: 50px;
    margin-bottom: 1em;
    
}

main header .header-container .home-list {
    list-style-type: none;
    margin-bottom: 1em;
}

main header .header-container .home-list li {
    padding: 0.3em;
}

main header .header-container .home-list li img {
    width: 10%;
}

/* /logo e lista home  */

/* playlist section */

main header .header-container .playlist .playlist-list {
    list-style-type: none;
}

main header .header-container .playlist .playlist-list #first-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

main header .header-container .playlist .playlist-list #plus {
    height: 1.5em;
    width: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5em;
    color: black;
    background-color: #a3a3a3;
}

main header .header-container .playlist .playlist-list i{
    font-size: 1.5em;
}

main header .header-container .playlist .playlist-list li {
    padding: 0.6em 0;
}

/* /playlist section */

/* footer header */

main .footer-header {
    padding: 1em;
}

main .footer-header .foot-text {
    padding: 0.5em 0;
    display: flex;
    gap: 10px;
}

main .footer-header img {
    width: 7%;
    display: block;
}

main .footer-header .name {
    padding: 0.5em 0;
    display: flex;
    gap: 10px;
    align-items: center;
}

main .footer-header .name #profile {
    border-radius: 50px;
    width: 8%;
    background-color: #808080;
}

/* /footer header */

/* main-centered */

main .main-centered {
    width: calc(100vw - 200px);
    
    overflow: scroll;
    background-color: #141922;

    position: relative;
}

/* upgrade-bar */

main .main-centered .upgrade-bar {
    height: 80px;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: calc(100% - 200px);
    
    position: fixed;
    top: 0;
    right: 0;

    background-color: rgba( 8, 11, 18, 0.5);

}

main .main-centered .upgrade-bar button {
    background-color: transparent;
    border-radius: 20px;
    padding: 0.5em 1.5em;
    color: white;
    border: 1px solid white;
    
}

/* /upgrade bar */

/* MENU-LIST */

main .main-centered .menu-list {
    padding: 1em;
    font-size: 0.8em;
    margin-top: 80px;
}

main .main-centered .menu-list ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    color: ;

    list-style-type: none;
}

/* / menu list */

/* blocco principale */

main .main-centered .main-block {
    padding: 1.5em;
}

/* sezione uno */

main .main-centered .main-block section h2 {
    color: white;
    padding: 0.5em 0;
}

main .main-centered .main-block section #margin {
    margin-bottom: 1em;
}

main .main-centered .main-block .recenti {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-bottom: 1.5em;
}

main .main-centered .main-block .recenti .card {
    width: calc(100% / 6 - 1em / 6 * 5);

    position: relative;
}


main .main-centered .main-block .recenti .card .card-img img {
    width: 100%;
}

main .main-centered .main-block .recenti .card .card-text {
    text-align: center;
    padding: 0.5em 0;
}

main .main-centered .main-block .recenti .card .card-text b {
    color: white;
}

main .main-centered .main-block .recenti .card .card-text div {
    padding: 0.5em 0;
}
/* /sezione uno */

/* sezione due creati per te */

main .main-centered .main-block .creati-per-te {
    display: flex;
    gap: 1em;

    margin-top: 1em;
}

main .main-centered .main-block .creati-per-te .box {
    width: calc(100% / 6 - 1em);

    position: relative;
}

main .main-centered .main-block .creati-per-te .box .box-img img {
    max-width: 100%;
}

main .main-centered .main-block .creati-per-te .box .box-text {
    padding: 0.5em 0;
    color: white;
    text-align: center;
}
/* /sezione due creati per te */

/* sezione 3 artisti popolari  */

main .main-centered .main-block .popular-artist {
    display: flex;
    gap: 1em;
    margin-top: 1em;
}

main .main-centered .main-block .popular-artist .circle {
    width: calc(100% / 6 - 1em);
}

main .main-centered .main-block .popular-artist .circle .circle-img img{
     width: 100%;
     border-radius: 50%;
}

main .main-centered .main-block .popular-artist .circle .circle-text {
    padding: 0.5em 0;
    color: white;
    text-align: center;
}

/* / sezione 3 artisti popolari */

/* footer */

footer {
    height: 100px;
    display: flex;
    justify-content: space-between;

    color: white;

    position: relative;
    
    background-color: #282828;    
}

/* footer-left */
footer .footer-left {
    max-width: 300px;
    
    display: flex;
    align-items: center;
    gap: 0.5em;

    padding: 1em;
}

footer .footer-left img {
    width: 60px;
    height: auto;
    margin-right: 10px;
}

footer .footer-left .track-info {
    padding-right: 20px;
}

footer .footer-left .track-info span {
    color: rgba(255, 255, 255, 0.5)
}

footer .footer-left .left-command {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    color: rgba(255, 255, 255, 0.5);
}
 /* / footer left  */

 /* footer center */ 

 footer .footer-center {
    min-width: 200px;
    max-width: 500px;
    width: 100%;
    
    padding: 0 4px;
 }

 footer .footer-center .center-command {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 50%;
 }
 
 footer .footer-center .center-command i {
    font-size: 1em;
 }

 footer .footer-center .center-command  .fa-circle-play {
    font-size: 1.6em;

    transition: transform .3s;
 }

 footer .footer-center .center-command  .fa-circle-play:hover {
    transform: scale(120%);
 }

 footer .footer-center .player {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
 }

 footer .footer-center .player .timeline {
    flex-grow: 1;

 }

 footer .footer-center .player .timeline .track-bar {
    width: 100%;
    height: 4px;

    border-radius: 2px;

    background-color: #5a5a5a;
    
 }
 
 footer .footer-center .player .track-bar .listened-track-bar {
    width: 20%;
    height: 100%;

    border-radius: 2px;

    background-color: #c1c1c1;
 }

 /* /footer-center */

 /* footer-right */
footer .footer-right {
    max-width: 300px;
    width: 100%;

    display: flex;
    align-items: center;
    gap: 30px;

    padding:1em;
}

footer .footer-right .footer-right-command {
    display: flex;
    gap: 10px;
}


footer .footer-right .volum {
    flex-grow: 1;
}

footer .footer-right .vol-bar {
    width: 100%;
    height: 4px;
    
    background-color: rgba(90, 90, 90, 0.5);
}

footer .footer-right .vol-bar .vol-bar-active {
    width: 20%;
    height: 100%;
    position: relative;

    background-color: rgb(193 193 193);
}